In [ ]:
import logging

# Set up logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')
# Debugging example
def divide(a, b):
    logging.debug(f"Dividing {a} by {b}")
    result = a / b
    logging.debug(f"Result: {result}")
    return result

In [ ]:
divide(5, 2)

In [ ]:
def sql_to_dataframe(sql, token: str): 
    from google.cloud import bigquery
    from google.oauth2 import credentials

    CREDENTIALS = google.oauth2.credentials.Credentials(token) # get credentials from token
    client = bigquery.Client(project=project_id, credentials=CREDENTIALS)
    df_target = client.query(sql).to_dataframe()

    return df_target

In [ ]:
import google.oauth2.credentials
token = !gcloud auth print-access-token
token_str = token[0]

project_id = 'divg-josh-pr-d1cc3a'
dataset_id = 'breast_cancer'
table_id = 'breast_cancer_X_val'

sql = '''SELECT * FROM `{project_id}.{dataset_id}.{table_id}` '''.format(project_id=project_id,
                                                                        dataset_id=dataset_id,
                                                                        table_id=table_id,
                                                                        )

df = sql_to_dataframe(sql=sql, token=token_str)

df.head()